@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body,
.header,
.icons {
    display: flex;
}

body,
.header {
    justify-content: center;
    align-items: center;
}

.card,
.footer {
    display: grid;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-image: url("../images/884849.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shade {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

.card {
    background-color: #444444;
    color: white;
    font-size: 15px;
    width: 25em;
    height: 37.5em;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px black;
    grid-template-rows: 200px auto;
    padding-left: 9px;
    padding-right: 9px;
    animation: putDown 1s;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
}

.header {
    flex-direction: column;
}

.header img {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 100px;
}

.footer {
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
}

.footer {
    letter-spacing: 5px;
}

.footer h1 {
    font-family: "Montserrat-Regular";
}

.footer p {
    line-height: 1.7rem;
    font-family: "Montserrat-SemiBold";
}

.icons {
    margin-top: 30px;
    justify-content: space-around;
}

.icons a {
    text-decoration: none;
    height: 50px;
    width: 70px;
}

.fab,
.fas {
    color: white;
}
